

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	background-color: #D3D3D3;
	margin: 0;
	padding: 0;
	font-size: 14px;	
	color: #2b2b2b;
}

/*----------------------------------------LADO DIREITO E ESQUERDO*/

.ladoEsquerdo {
width:45%;
height:100%;
position: fixed;
top: 0;
left: 0;
border-right: solid 2px white;
}

.ladoDireito {
width: 55%;
float: right;
height: auto;
}


/*----------------------------------------FONTES E tIPOS DE ESCRITA*/


.fonteForte {
	font-size: 1.1rem;
	text-decoration: none;
	color: black;
}

.fonteForte a:hover {
	cursor: pointer;
	color: white;
}

.fonteTexto {
	font-size: 0.9rem;
}

.fonteFormato {
	font-size: 0.8rem;
	text-decoration: none;
	color: black;
	font-style: italic;
	font-weight: 400;
}

.fonteFormato a:hover {
	cursor: pointer;
	/*color: white;*/
}


/*----------------------------------------TITULO NOME DUDA PEDREIRA*/

.caixaNomeDuda {
	display: flex;
	padding: 3% 0 0px 15%;
}


.nomeDuda {
	font-size: 1.4rem;
}
	

.nomeDuda a{
	text-decoration: none;
	color: black;
}


/*----------------------------------------*TEXTO + PALAVRAS CHAVE*/


.caixaSobre  {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	border-bottom: solid 2px white;
}

.caixaNomeProjeto { 
	display: flex; 	
	justify-content: flex-end;
	padding-right: 45px;
}


.descritivo {
	text-align: justify;
	line-height: 1.5;
	text-indent: 45px;
 	padding: 0px 7% 0 7%;			
}

.instagram { 
	align-self: flex-end;
	padding: 0px 7% 2% 7%;
 }

 .instagram a{
	text-decoration: underline;
	color: black;
	font-style: italic;
}

.instagram a:hover{
	cursor: pointer;
	color: white;
}


/*----------------------------------------*INDEX DE PROJETOS */

.index {
	grid-area: index;
	display: flex;
	flex-direction: column;
	width: 93%;
	line-height: 1.8;	
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2% 0% 0 7%;	
}

a:hover {
	color: white;
}


/*----------------------------------------*ENGLISH BUTTON*/
.english {
	display: flex;
	justify-content: flex-end;
	padding-right: 45px;
	font-size: 1rem;
	font-style: italic;
	align-items: flex-end;
	position: fixed;
	right: 0;
	width: 51%;
	height: 6%;
	background-color: #D3D3D3;
}

.english a{
	text-decoration: underline;
	color: black;
}

.english a:hover{
	cursor: pointer;
	color: white;
}

/*----------------------------------------*LADO DIREITO DAS FOTOS*/


.fotoContainer1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fotoContainer1  img {
	max-width: 100%;
	/*border: 2px solid white;*/
}

.fotoContainer1 p {
	text-align: center;
	padding: 0 10px 0 10px;
}

.imagem{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	padding-top: 7%;

}

.imagem2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 7%;
}

.ultima {
	margin-bottom: 50px;
}

.profile {
	width: 35%;
}


.infosContatoCaixa {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0 0 0 0;
	align-items: center;
	line-height: 2.0;
}

.infosContatoCaixa a{ 
	text-decoration: none;
	color: black;
 }


.desenvolverdor {
	padding-top: 10%; 
}

.recreo { 
padding-top: 20%;
width: 80%;
}




/*----------------------------------------*MODO RESPONSIVO INTERMEDIARIO */

@media (max-width: 1000px) {

.ladoEsquerdo {
width:50%;
height:100%;
position: fixed;
top: 0;
left: 0;
}

.ladoDireito {
width: 50%;
float: right;
height: 200vh;
}

.caixaNomeDuda {
	display: flex;
	padding: 10px 0 0px 15%;
}

.nomeDuda {
	font-size: 1rem;
	text-decoration: none;
	color: black;
	font-style: italic;
	font-weight: ;
}
	
.subNomeDuda {
	font-size: 0.7rem;
	font-style: italic;
	align-self: flex-start;
}


.caixaSobre  {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*border-right: 2px dotted black;*/
	height: auto;
}

.caixaNomeProjeto { 
	display: flex; 	
	justify-content: flex-end;
	padding-right: 5%;

}

.nomeProjeto { 
	font-size: 1rem;
 }

.subNomeProjeto {
	font-size: 0.8rem;
	font-style: italic;
}

.descritivo {
	text-align: justify;
	line-height: 1.5;
	text-indent: 45px;
 	padding: 0px 5% 0 5%;
 	font-size: 0.8rem;	 		
}


.index {
	grid-area: index;
	display: flex;
	flex-direction: column;
	width: 100%;
	line-height: 1.8;	
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5% 45px 0 5%;
	font-size: 0.8rem;

}

.tagProjeto {
	font-size: 0.8rem;
}


/*----------------------------------------*MODO RESPONSIVO CELLPHONE */

@media only screen and (max-width: 800px) {

.ladoEsquerdo {
float: none;
position: relative;
border: none;
width: 100%;

}

.ladoDireito {
width: 100%;
float: none;
height: auto;
}

.english {
	position: absolute;
}

.fotoContainer1 {
	padding-top: 2%;

}

.index { 
	border-bottom: 2px solid white;
	padding-bottom: 5%;

 }


